# Déclancher a chaque push sur la branche master
on:
  push:
    branches:
      - master

jobs:
  demo:
    name: demo-ci
    runs-on: ubuntu-latest
    steps:
      - name: affichages
        run: echo "Hello world !"
      - name: Récupérer le code
        uses: actions/checkout@v3
      - name: Installer composer
        uses: php-actions/composer@v6
      - run: ls -la
      - name: Lancer les tests
        run: vendor/bin/phpunit tests/testCalculator
