# Déclancher a chaque push sur la branche master
on:
  push:
    branches:
      - master

jobs:
  demo:
    name: demo-ci
    runs-on: ubuntu-latest
    steps:
      - name: affichages
        run: echo "Hello world !"
      - name: Récupérer le code
        uses: actions/checkout@v3
      - name: lister repo
        run: ls -la
        
  # dependancies:
  #  name: install-dependancies
  #  needs: demo
  # runs-on: ubuntu-latest
  # tests:
  #  name: phpunit-test
  #  needs: dependancies
  #  runs-on: ubuntu-latest
